.container {
  text-align: center;
  padding: 40px 0;
  background: #ebf0f5;
  height: 100vh;
}

.card h1 {
  color: #0058ff;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

.card p {
  color: #001f44;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 0;
}

.card i {
  color: #0058ff;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}

.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8ccd8;
  display: inline-block;
  margin: 0 auto;
}

.circle {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #f5f6fa;
  margin: 0 auto;
}
