.details {
  height: 45%;
  width: 90%;
  margin: auto;
  padding-bottom: 16px;
  background-color: #f9f9f9;
  border: 1px solid hsl(0, 0%, 0%, 20%);
  display: flex;
  flex-direction: column;
  position: relative;
}

.details__title {
  text-align: center;
  height: 1rem;
  margin: 16px;
}

.details__container {
  /* background-color: yellow; */
  display: flex;
  margin: 4px 16px;
  justify-content: space-around;
  overflow: hidden;
}

.details__image {
  height: 100%;
  width: 60%;

  /* max-height: 180px;

  max-width: 300px; */
}

.details__container--info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 0 0 0 16px;
}

.details__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.details__item dd {
  text-align: center;
  margin: 0;
}

.details__description {
  width: 100%;
  text-align: left;
}
.details button {
  color: white;
  width: 120px;
  height: 40px;
  font-size: 1rem;
  background-color: #0058ff;
  border-radius: 25px;
  border: #0058ff;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
