.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__title {
  text-align: center;
  flex-grow: 1;
}

.header__label {
  margin-right: 16px;
  position: absolute;
  right: 0;
}

.header__select {
  align-self: center;
  margin-left: 4px;
}

.header__select option {
  text-align: center;
}

.main {
  min-height: calc(100vh - 64px - 40px); /*Fromm nav and footer heghts*/
}

.main--no-list {
  text-align: center;
}

@media (max-width: 760px) {
  .header__title {
    margin-bottom: 32px;
  }
  .header__label {
    bottom: 0;
  }
}
