.details {
  height: min(40vh, 280px);
  width: 75vw;
  /* padding-bottom: 16px; */
  margin: auto;
  margin-bottom: 48px;
  background-color: #f9f9f9;
  border: 1px solid hsl(0, 0%, 0%, 20%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
}

.details__title {
  text-align: center;
  height: 1rem;
  margin: 16px;
}

.details__container {
  /* background-color: yellow; */
  display: flex;
  margin: 4px;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.details__image-container {
  /* display: inline-block; */
  /* background-color: yellow; */
  width: 30vw;
  height: 100%;
}

.details__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.details__info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 0 0 0 16px;
  width: 100%;
  /* margin-left: 32px; */
}

.details__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.details__item dt {
  color: hsl(0, 0%, 0%, 40%);
}
.details__item dd {
  text-align: center;
  margin: 0;
}

.details__description {
  width: 100%;
  margin-bottom: 16px;

  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
}
.details button {
  color: white;
  width: 120px;
  height: 40px;
  font-size: 1rem;
  background-color: #0058ff;
  border-radius: 25px;
  border: #0058ff;
  position: absolute;
  bottom: 8px;
  right: 10px;
  cursor: pointer;
}

.details button:hover {
  background-color: #003fb4;
}

/* @media (max-width: 1200px) and (min-width: 768px) {
  .details__item--optional {
    display: none;
  }
} */
@media (max-width: 1200px) {
  .details {
    height: min(80vh, 520px);
    padding-bottom: 8px;
    margin: auto;
    margin-bottom: 32px;
    font-size: 0.8rem;
  }

  .details__container {
    flex-direction: column;
  }

  .details__image-container {
    margin-top: 8px;
    height: 60%;
    width: 100%;
  }

  .details__price {
    font-size: 1rem;
  }

  .details__info {
    padding: 0;
  }

  .details button {
    position: static;
    margin: auto;
    margin-top: 16px;
    width: 80%;
    max-width: 280px;
    height: 40px;
  }
}

@media (max-width: 550px) {
  /* .details {
    height: 120vw;
  } */

  .details__item--optional {
    display: none;
  }

  .details button {
    height: 32px;
  }
}

@media (max-width: 425px) {
  .details {
    height: 120vw;
  }
}
