.main-content {
  /* display: flex; */
  min-height: calc(100vh - 102px); /*102px = nav+footer*/
  padding-bottom: 40px;
  margin-left: min(max(15vw, 160px), 200px);
  padding: 1.5rem;
  /* background-color: yellow; */
}

.business-list--no-items {
  text-align: center;
}

.main-content__search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.main-content__filter-button {
  height: 28px;
  width: min(10vw, 36px);
  position: absolute;
  right: 3.6vw;
  background-color: #0058ff;
  border: #0058ff;
  color: white;
  border-radius: 4px;
  display: none;
}

.main-content__search-container input {
  display: block;
  font-size: 1rem;
  width: 80%;
  height: 32px;
  margin: auto;
  border-radius: 45px;
  border: 0.2px solid #001f44;
  padding-left: 8px;
  padding-right: 40px;
  position: relative;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0;
    padding-top: 24px;
    margin-left: 0;
    width: 100vw;
  }

  .main-content__filter-button {
    display: block;
  }
}
