.sidebar {
  height: 100%;
  position: fixed;
  top: 64px;
  border-right: 2px solid #b8b8b8;
  width: 15vw;
  min-width: 160px;
  max-width: 200px;
  padding: 14px 20px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  overflow: hidden;
}

.sidebar__items {
  display: flex;
  flex-direction: column;
  height: 8vh;
}

.sidebar p {
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
}

.sidebar__checkboxes {
  margin-top: 16px;
}

.sidebar__checkboxes label,
.sidebar__user-filter {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
}

.sidebar__checkboxes input,
.sidebar__user-filter input {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-left: 4px;
}

.price-filter,
.profit-filter {
  margin-top: 40px;
}
.price-filter__container,
.profit-filter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-filter__container input,
.profit-filter__container input {
  margin-top: 0px;
  width: 60px;
  height: 30px;
  border: 1px solid hsl(0, 0%, 68%, 80%);
  text-align: center;
}

.price-filter__container input[type='number']::-webkit-outer-spin-button,
.price-filter__container input[type='number']::-webkit-inner-spin-button,
.profit-filter__container input[type='number']::-webkit-outer-spin-button,
.profit-filter__container input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
