.nav-bar {
  background-color: #001f44;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
}

.nav-bar__sandwich-menu {
  display: none;
  background-color: #001f44;
  border: none;
}
.nav-bar__logo {
  margin: 0 0 0 32px;
  text-decoration: none;
  color: white;
}
.nav-bar__links {
  margin: 0 16px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__item a {
  margin: 16px 12px;
  padding: 0 8px;
  color: white;
  text-decoration: none;
  font-size: 1rem;

  /* font-weight: bold; */
}

.nav-bar__item--cta a {
  margin: 16px 16px;
  display: block;
  background-color: #0058ff;
  padding: 4px 16px;
  border-radius: 25px;
  width: 80px;
  text-align: center;
}

.nav-bar__item:not(.nav-bar__item--cta):hover,
.nav-bar__item:not(.nav-bar__item--cta):active {
  border-bottom: 4px solid #0058ff;
}

.nav-bar__item--cta a:hover,
.nav-bar__item--cta a:active {
  background-color: white;
  color: #0058ff;
}

@media (max-width: 768px) {
  .nav-bar__links {
    display: none;
  }

  .nav-bar__logo {
    margin: auto;
  }

  .nav-bar__sandwich-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .nav-bar__sandwich-menu span {
    display: block;
    width: 30px;
    height: 4px;
    margin-left: 12px;
    margin-bottom: 8px;
    background-color: white;
  }
  .nav-bar__sandwich-menu span:last-child {
    margin-bottom: 0;
  }
}
