.button {
  width: 200px;
  height: 40px;
  margin-top: 16px;
  border-radius: 8px;
  font-size: 1rem;
  border: solid 1px #0058ff;
  cursor: pointer;
  background-color: #0058ff;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 24px 0;
}

.button--caution {
  background-color: red;
  border: solid 1px #700000;
  color: white;
}

.button:hover {
  background-color: #0041b9;
  border: 2px solid #0058ff;
}

.button--caution:hover {
  background-color: rgb(179, 0, 0);
  border: 2px solid #b10000;
}

.button:disabled {
  background-color: rgba(77, 77, 77, 0.171);
  color: rgba(110, 110, 110, 0.37);
  border-color: #ccc;
  cursor: not-allowed;
}
