.form {
  background-color: white;
  width: 50vw;
  min-width: min(600px, 80vw);
  min-height: calc(100vh - 104px - 32px); /*vh - nav-bar - padding*/
  padding: 8px 16px;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 12px;
}

.form input,
.form select,
.form textarea {
  background-color: #f3f3f3;
  border: solid 1.2px #001f44;
  margin-top: 4px;
  border-radius: 4px;
  padding: 1px 2px;
  font-size: 1rem;
}

.form textarea {
  height: 96px;
}

.form input,
.form select {
  height: 28px;
}
