.main {
  min-height: calc(100vh - 64px - 40px); /*Fromm nav and footer heghts*/
}

.user-info__title,
.businesses-list__title {
  text-align: center;
  /* margin: 8px; */
}

.business-list {
  /* background-color: red; */
  padding: 0;
}
